
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: Rubik,sans-serif;
    font-size: .975rem;
    font-weight: 400;
    background: #fafafa;
}

p {
    font-family: Rubik,sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 8px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

i,
span {
    display: inline-block;
}
.dropdown-toggle[aria-expanded="true"]:after {
    transform: rotate(180deg);
}

.dropdown-toggle:after {
    transition: 0.2s;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 260px;
    max-width: 270px;
    background: #233242;
    color: #fff;
    transition: all 0.5s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar ul li a {
    text-align: left;
    border-bottom: 1px solid #44494d;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 1.1em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    display: flex;
    justify-content: center;
    background: #233242;
}
.thumb-user {
    display: flex;
    justify-content: center;
}
#sidebar .sidebar-header .logo {
    margin-top: 10px;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #233242;
}

#sidebar ul li a {
    padding: 15px 15px 25px 15px;
    font-size: 1.2em;
    display: block;
}
#sidebar ul li a .title {
    padding: 0 0 0 5px;
}

#sidebar ul li a:hover {
    background: #1f2d3b;
}

#sidebar ul li a i {
    margin-right: 10px;
}
#sidebar.active ul li a .title {
    display: none;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #1f2d3b;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #233242;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #1f2d3b;
}

a.article,
a.article:hover {
    background: #1f2d3b !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    background: #f2f4f5;
}

.box {
    border-radius: 2px;
    padding: 10px;
}
.bg-info{
    background-color: #137eff!important;
}
.bg-success{
    background-color: #5ac146!important;
}
.bg-dark{
    background-color: #343a40!important;
}
.bg-warning{
    background-color: #FCF45E;
}
.span{
    padding: 3px 10px;
    line-height: 13px;
    color: #fff;
    font-weight: 500;
    border-radius: 2px;
    font-size: 90%;
}

